# Coding Exercises (Part 4)

## Pandas: Intermediate Topics

### Exercise 4: Index Operations

In [1]:
#run the cell!
import pandas as pd

In [14]:
#run the cell!
listings = pd.read_csv("listings.csv")

In [6]:
# listings = pd.read_csv("listings.csv",index_col=0)

In [7]:
#run the cell!
listings.head()

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

In [9]:
#run the cell!
listings.head()

,Symbol,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
0,A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

In [4]:
#run the cell!
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6852 entries, 0 to 6851
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      6852 non-null   object
 1   Exchange    6852 non-null   object
 2   Name        6852 non-null   object
 3   Last_Price  6745 non-null   float64
 4   Market_Cap  5954 non-null   float64
 5   ADR TSO     140 non-null    float64
 6   IPO_Year    3105 non-null   float64
 7   Sector      5309 non-null   object
 8   Industry    5309 non-null   object
dtypes: float64(4), object(5)
memory usage: 481.9+ KB

31. __Select__ the __index__ (row labels) of the DataFrame __listings__! What __kind of index__ do we have?

In [15]:
listings.index

RangeIndex(start=0, stop=6852, step=1)

It´s a ... RangeIndex!

32. __Set__ the __"Symbol"__ column as the __new index__ of listings (save the changes)!

In [16]:
listings.set_index("Symbol",inplace=True)

In [17]:
listings.head()

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

In [12]:
# when index is changed, the original index is dropped
listings.set_index("Name",inplace=True)
listings.head()

,Exchange,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Name,,,,,,,
"Agilent Technologies, Inc.",NYSE,81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
Alcoa Corporation,NYSE,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
Altaba Inc.,NASDAQ,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
"AAC Holdings, Inc.",NYSE,2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
"American Airlines Group, Inc.",NASDAQ,34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

33. __Check__ whether the new index contains __unique values only__ (no duplicates)! Is this the case?

In [19]:
listings.index.is_unique

False

No, apparently, there are duplicate entries!

34. __Get__ the __frequency/Counts__ of all unique values in the index! What is the __most frequent__ value(s)?

In [20]:
listings.index.value_counts()

CDOR    2
LLEX    2
GOLD    2
UNFI    2
NCLH    2
       ..
FCBC    1
FCAU    1
FCAP    1
FCAN    1
ZYXI    1
Name: Symbol, Length: 6840, dtype: int64

There are many Symbols that appear ... 2 times!

35. __Set__ the __name__ of the index to __"Ticker_Symbol"__!

In [39]:
# simply changes the title of index, but remains the content of the index
listings.index.name="Ticker_Symbol"

In [40]:
#run the cell!
listings.head()

,Symbol,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Ticker_Symbol,,,,,,,,,
0,A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

36. __Reset__ the __index__ to a RangeIndex and __save__ the change!

In [18]:
listings.head()

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

In [19]:
listings.reset_index(inplace=True)

In [20]:
# when reset the index, the original index was saved and the new index was a range of numbers
listings.head()

,Symbol,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
0,A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

37. __Inspect__ the __column Index__!

In [34]:
listings.index

RangeIndex(start=0, stop=6852, step=1)

38. __Rename__ the column __Labels__ "Name" and "Market_Cap" to "Company" and "MCAP"! __Fill in  the gaps__!

In [35]:
listings.rename(columns = {"Name":"Company", "Market_Cap":"MCap"}, inplace = True)

In [36]:
#run the cell!
listings.head()

,Ticker_Symbol,Exchange,Company,Last_Price,MCap,ADR TSO,IPO_Year,Sector,Industry
0,A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

------------------------------------------------------------

# Recap

32. change the index of the dataframe while drop the original one

`df.set_index("ColName", inplace=True)`

35. change the title of the index:

`df.index.name=`

36. change the index of the dataframe into a range of numbers while the original index becomes a common column

`df.reset_index(inplace=True)`

38. renama the columns of dataframe:

`df.rename(columns={old:new,old:new}, inplace=True)`